.faq {
    text-align: center;
    padding: 0 170px 0 170px;
    outline: red 1px solid;
}

button {
    cursor: pointer;
}

.faq_button_option {
    display: flex;
    justify-content: space-between;
    max-width: 615px;
    height: 20px;
}

.child {
    position: absolute;
    width: 50%;
    height: 100%;
}

.information_option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    outline: green 1px solid;
}

.information_picture{
    right: 0;
    outline: green 1px solid;
}

.img_faq {
    max-width: 616px;
    max-height: 554px;
    object-fit: cover;
}

.faq_1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 556px;
    align-items: center;
    text-align: start;
    outline: blueviolet 1px solid;
}

.p-title-faq {
    font-weight: 600;
    font-size: 12px;
    font-style: normal;
    line-height: 22px;
    color: rgb(156, 136, 129);
}

.h2-faq {
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    line-height: 44px;
}

.p-description-faq {
    font-size: 18px;
    line-height: 32px;
}

.plus-faq {
    max-width: 190px;
    /*min-height: 50px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5efeb;
    border-radius: 25px;
}