.faq {
    text-align: center;
    padding: 0 170px 0 170px;
    margin-top: 110px;
    outline: red 1px solid;
}

button {
    cursor: pointer;
}

.parent-1 {
    /*height: 100%;*/
    padding-right: 30px;
    width: 50%;
    outline: blue 1px solid;
}

.parent-2 {
    /*height: 100%;*/
    width: 50%;
    outline: blue 1px solid;
}

.information_option {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*left: 0;*/
    outline: green 1px solid;
}

.information_picture{
    display: flex;
    outline: green 1px solid;
}

.img_faq {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq_1 {
    /*position: relative;*/
    margin-top: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    outline: blueviolet 1px solid;
}

.p-title-faq {
    font-weight: 600;
    font-size: 12px;
    font-style: normal;
    line-height: 22px;
    color: rgb(156, 136, 129);
}

.h2-faq {
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    line-height: 44px;
}

.p-description-faq {
    font-size: 18px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.faq-bloc-margin { 
    margin-bottom: 10px;
}

.faq_button_option {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 5px 5px 0px;
    background-color: #FDFBF9;
}

.h3-faq {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.808);
}

.faq_button_option:hover, .faq_button_option:focus {
    .h3-faq, i {
    color: rgb(75, 42, 173);
    }
}

.plus-faq {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 190px;
    /*min-height: 50px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5efeb;
    border-radius: 50px;
    margin-top: 10px;
}

.plus-faq:hover {
    background-color: #C2BDBA;
    .fa-arrow-right {
        transform: translateX(5px);
    }
}

.p-plus-faq {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-right: 5px;
    color: rgb(26, 23, 21);
}

.fa-arrow-right {
    transition: transform 0.5s;
}

.faq_content {
    display: none; /* Initially hide the content */
    width: 100%;
}

.answer-faq {
    font-size: 15px;
    line-height: 27px;
}

.active {
    display: block; /* Display the content when active */
}