footer {
    width: 100%;
    background-color: #f5efeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_footer {
    padding: 115px 0 115px 0;
    width: 100%;
    outline: blue 1px solid;
}

.container_footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: red 1px solid;
}

.container_footer_a {
    display: flex;
    flex-direction: row;
}